
<div class="general" style="background-image: url('<%= asset_path 'background-2.png' %>');">

  <div class="decouvertes1">
    <%= link_to root_path do %>
      <%=image_tag("logo IMAGO.png", height:"230vh")%>
    <% end %>

    <%= link_to t(".sign_in", default: "IMAGO"), new_workshop_path, class: "navbar-titre" %>

    <%= link_to t(".sign_in", default: "Référencez vos ateliers d'artistes"), new_workshop_path, class: "navbar-titre" %>

    <%= link_to t(".sign_in", default: "et d'artisans"), new_workshop_path, class: "navbar-titre-bis" %>
  </div>
</div>

<div class="coucou">

  <% if user_signed_in? %>
    <%= link_to "#", class: "navbar-titre-bis" do %>
        <div class="badge-container">
        </div>
    <% end %>

  <!-- Profile picture and dropdown -->
    <div class="navbar-titre">
      <div class="dropdown">
        <%= image_tag "icon artist.png", class: "avatar-dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Accueil") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Espace personnel"), new_user_session_path, class: "navbar-titre-ter" %>

    <% end %>

  </div>
