<div class="decalage">
  <h1>Les ateliers d'artisans</h1>
    <div class="subtitle">
      <ul class="filters list-inline">
        <li data-filter="all" class="label label-default"> Tous </li>
          <% ArtisanCategory.all.each do |artisancategory| %>
         <li data-filter="<%= artisancategory.id %>" class="label label-default"> <%= artisancategory.name.capitalize %> </li>
        <% end %>
      </ul>
    </div>

    <div class="studios">
      <div class="studios-list", background-repeat: no-repeat>
        <%#= <div class="container-fluid">
          <div class="filtr-container row">-%>
            <% @studios.each do |studio| %>
              <div class="filtr-item col-sm-4" data-category="<%= studio.artisan_category.id %>" data-sort="value">
                <%= render "studio", studio: studio %>
              </div>
              <% end %>
          </div>
        </div>

     <%#= @pois.each do |poi| %>
      <%#=<tr>
        <td><%= poi.name %></td>
        <%#=<td><%= poi.address %></td>
        <%#=<td><%= poi.description %></td>
        <%#=<td><%= poi.openings %></td>
        <%#=<td><%= poi.stars %></td>
        <%#=<td><%= link_to 'Show', poi %></td>
        <%#=<td><%= link_to 'Edit', edit_poi_path(poi) %></td>
        <%#=<td><%= link_to 'Destroy', poi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%#=</tr>
    <%#= end %>


<%= link_to 'Enregistrer un nouvel atelier', new_studio_path %>
</div>

<script>
    $(document).ready(function() {
      var category = getParameterByName("ArtisanCategory")
      var filter =  ArtisanCategory ? ArtisanCategory : 'all'
      var filterizd = $('.filtr-container').filterizr({
        filter: filter,
        layout: "sameSize"
      });
    });
  </script>


