<div class="decalage">
<h1>Les ateliers d'artistes</h1>


    <% @pois.each do |poi| %>
      <tr>
        <td><%= poi.name %></td>
        <td><%= poi.address %></td>
        <td><%= poi.description %></td>
        <td><%= poi.openings %></td>
        <td><%= poi.stars %></td>
        <td><%= link_to 'Show', poi %></td>
        <td><%= link_to 'Edit', edit_poi_path(poi) %></td>
        <td><%= link_to 'Destroy', poi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

<br>

<%= link_to 'Enregistrer un nouvel atelier', new_poi_path %>
</div>
